/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gridscrollbar::-webkit-scrollbar {
    width: 18px;
    height: 10px;
  }

  .gridscrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f8f8f8;
  }

  .gridscrollbar::-webkit-scrollbar-thumb {
    background: #dfe3e6;
    border-radius: 100vh;
    height: 1px;
  }

  .gridscrollbar::-webkit-scrollbar-thumb:hover {
    background: #a9acaf;
  }

  .scrollbar::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #dfe3e6;
    border-radius: 100vh;
    height: 2px;
    border: 5px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a9acaf;
  }
}

/* Custom styles for Ag-Grid */

.ag-theme-alpine .ag-body-viewport::-webkit-scrollbar {
  width: 10px !important; /* Width of the scrollbar */
}

.ag-theme-alpine .ag-body-viewport::-webkit-scrollbar-track {
  background: black !important; /* Background of the scrollbar track */
}

.ag-theme-alpine .ag-body-viewport::-webkit-scrollbar-thumb {
  background: black !important; /* Color of the scrollbar thumb */
  border-radius: 5px !important; /* Rounded corners for the thumb */
}

.ag-theme-alpine .ag-body-viewport::-webkit-scrollbar-thumb:hover {
  background: black !important; /* Color on hover */
}

.grid-container {
  overflow-x: auto !important;
  overflow-y: auto !important;
  width: 100% !important;
}

.ag-body {
  display: block !important;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: 100% !important;
}
.ag-root-wrapper.ag-layout-normal {
  height: 100% !important;
}

.ag-theme-alpine {
  --ag-borders: none !important;
  --ag-header-column-resize-handle-display: none !important;
  --ag-header-background-color: black !important;
  --ag-header-foreground-color: white !important;
  --ag-foreground-color: black !important;
  --ag-font-size: 0.8rem !important;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: 100% !important;
}

.ag-root-wrapper.ag-layout-normal {
  height: 100% !important;
}

.ag-theme-alpine .ag-body-horizontal-scroll-viewport {
  height: 15px !important;
  border-radius: none !important;
  background-color: rgb(207, 207, 207) !important;
  width: 100% !important;
}

.ag-theme-alpine .ag-root {
  background-color: #f8f8f8 !important;
  border-bottom-left-radius: 0.3rem !important;
  border-bottom-right-radius: 0.3rem !important;
}

.ag-theme-alpine .ag-header {
  height: 49px !important;
  min-height: 49px !important;
  
}

.ag-theme-alpine .ag-header-row {
  height: 100% !important;
}

.ag-theme-alpine .ag-header-cell {
  font-weight: 500 !important;
  font-size: 16px !important;
  height: 100% !important;
}

.ag-theme-alpine .ag-cell {
  font-weight: 400 !important;
}

.ag-theme-alpine .ag-header-cell-text{
  font-size: 16px !important;
  font-weight: 500 !important;
}

.ag-theme-alpine .ag-cell{
  font-size: 14px !important;
  font-weight: 400 !important;
}

.ag-theme-alpine {
  --ag-font-family : 'Poppins', sans-serif !important
}

.row-even {
  background-color: #ebebeb !important; /* Light gray for even rows */
}

.row-odd {
  background-color: #f8f8f8 !important; /* White for odd rows */
}

/* lunar calendar */

.e-control {
  border: none !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.e-cell span {
  line-height: 2.25rem !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  border-width: 0px !important;
  cursor: pointer !important;
  display: block !important;
  height: 36.58px !important;
  width: 36px !important;
}

.e-footer-container {
  display: none !important;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  color: white !important;
  background-color: #006514d5 !important;
  border: none;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  color: white !important;
  background-color: #006514d5 !important;
  border: none;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day:hover {
  color: white !important;
  background-color: rgb(243 244 246) !important;
  border: none;
}

.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content .e-today span.e-day {
  color: black !important;
}

.e-calendar .e-content td.e-selected span.e-day {
  color: white !important;
  background-color: #006514d5 !important;
}

.e-calendar .e-header .e-title {
  opacity: 1 !important;
  color: rgb(17 24 39) !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

th {
  opacity: 1 !important;
  color: rgb(107 114 128) !important;
  line-height: 1.5rem !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  text-align: center !important;
  height: 1.5rem !important;
}

.date-calender {
  width: 266px;
  height: 276px;
  direction: rtl;
  position: relative;
  top: 12;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 2px;
  font-family: serif;
  box-sizing: unset;
  -webkit-box-sizing: unset;
  font-size: 14px;
  border-radius: 4px;
  z-index: 1000;
  color: black !important;
}

.date-calender-controls {
  direction: rtl;
  text-align: center;
}

.control-button {
  position: absolute;
  border: 0px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: #fff;
}

.control-button:hover {
  color: #888888;
}

.control-button:focus {
  outline: unset;
}

.previous-button {
  right: 15px;
}

.next-button {
  left: 15px;
}

.years-list {
  width: 100px;
  background: transparent;
  height: 25px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 12px;
  border: 1px solid #ddd;
  margin-left: 4px;
  margin-top: 5px;
}

.day-names-container {
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.day-name {
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 25px;
  padding: 1px;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-sizing: unset !important;
  box-sizing: unset;
}

.month-days {
  text-align: right;
  display: flex;
  flex-flow: wrap;
}

.month-day {
  margin: 2px;
  width: 30px;
  padding: 1px;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-sizing: unset !important;
  box-sizing: unset;
  border-radius: 4px;
}

.month-day:hover {
  border: 1px solid black;
}

.no-hover:hover {
  border: 1px solid white !important;
}

.month-day-button {
  cursor: pointer;
  border: 0px;
  width: 30px;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.month-day-button.selected {
  background-color: black !important;
  color: white !important;
}

.month-day-button:focus {
  outline: unset;
}

.hijri-date-picker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.date-display {
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-day {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}

.month-day.selected {
  background-color: #007bff;
  color: white;
}

.rmdp-container {
  width: 100%;
  height: 100%;
}

.rmdp-input {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.rmdp-input::placeholder {
  color: black !important;
  font-size: 14px !important;
}

.rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.rmdp-arrow:hover {
  color: #0074d9 !important;
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border-color: #0074d9 !important;
}

@layer base {
  :root {
    --background: #ffffff;
    --backcolor: #f8f8f8;

    --navBorder: #dfe3e6;

    --formBg: #f8f8f8;
    --formBorder: #66666659;

    --cardbg: #f8f8f8;
    --cardheading: #000000;
    --cardText: #000000;
    --iconText: #666666cc;

    --resendText: #ff8682;
    --verifyField: #000000;

    --underline: #dfe3e6;
    --underlineTop: #dfe3e680;

    --detailsCheck: #000000;
    --detailsChecked: #000000;

    --tableBg: #f8f8f8;
    --tableBorder: #dfe3e6;

    --input-bg: #f8f8f8;
    --input-border: #dfe3e6;
    --inputText: #000000;

    --accordionText: #000000;
    --accordionBg: #f8f8f8;
    --accodionBorder: #dfe3e6;

    --logoutText: #ee2750;
    --userMail: #83899f;
    --zakatText: #4caf50;

    --hover: #ffffff;

    --detailsbutton: #000000;
    --btn-text: #ffffff;
    --btn-hover: #5e5f5d;

    --primary: #006514d5;
    --primary-hover: #00200010;
    --primary-background: #00970016;

    --secondary: #040e0082;

    --card-border: #dfe3e6;

    --accent: #00200010;
    --accent-background: #00970016;

    --heading: #1d211c;
    --subheading: #020a00a0;

    --calendar-text: #ffffff;
    --calendar-active: #f8f8f8;
    --calendar-dropdown: #66666659;
    --calendar-outline: #66666659;

    --event-heading: #040f0047;

    --destructive: #dd1919;
  }

  .dark {
    --background: #111210;
    --backcolor: #111210;

    --navBorder: #dfe3e6;

    --formBg: #f8f8f8;
    --formBorder: #666666;

    --cardbg: #f8f8f8;
    --cardheading: #000000;
    --cardText: #000000;
    --card-border: #dfe3e6;

    --resendText: #ff8682;
    --verifyField: #000000;
    --input-bg: #f8f8f8;
    --input-border: #dfe3e6;
    --inputText: #000000;

    --underline: #dfe3e6;
    --underlineTop: #dfe3e680;

    --detailsCheck: #000000;
    --detailsChecked: #000000;

    --tableBg: #f8f8f8;
    --tableBorder: #dfe3e6;

    --accordionText: #000000;
    --accordionBg: #f8f8f8;
    --accodionBorder: #dfe3e6;

    --logoutText: #ee2750;
    --userMail: #83899f;
    --zakatText: #4caf50;

    --detailsbutton: #dfe3e6;
    --btn-text: #000000;
    --btn-hover: #5e5f5d;

    --hover: #8b8b8b;
    --primary: #006514d5;
    --primary-hover: #f4f5f312;
    --primary-background: #00970016;

    --secondary: #f0fdec74;

    --accent: #f4f5f312;
    --accent-background: #70fe8c1b;

    --heading: #ffffff;
    --subheading: #f6fef4b0;

    --calendar-text: #898e87;
    --calendar-active: #cccfcc;

    --event-heading: #edfdeb57;
  }
}

body {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.custom-date-picker:focus-within > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > button:first-of-type {
  left: 0;
  bottom: 2px;
}

.custom-date-picker > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > div:first-of-type {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(1) {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(2) {
  width: min-content;
}

.custom-date-picker input::placeholder {
  font-size: 0.95rem;
}

.custom-label:before {
  content: ' ';
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
}

.custom-tooltip {
  background-color: black !important;
  font-weight: normal !important; /* Ensure the tooltip has normal font-weight */
  font-size: 14px !important; /* Consistent font size */
}
